*{
    margin: 0;
    padding: 0;
}

.invertir-colores:hover img {
    filter: invert(1); /* Invertir el color del icono en el hover */
}

.slick-slider .slick-dots li.slick-active button::before {
    color: white;
}
  
.slick-slider .slick-dots li button::before {
    font-size: 15px;
    color: rgb(255, 255, 255);
}
  
.puntuacion{
    color: #1e008c;
    text-shadow: rgb(255, 255, 255) -1px 0px, rgb(255, 255, 255) 0px 1px, rgb(255, 255, 255) 1px 0px, rgb(255, 255, 255) 0px -1px;
}


.color-sections{
    background-color: #000000;
    background-image: linear-gradient(180deg, #000000 0%, #3700ff 100%);
}

.color-sections-dos{
    background-color: #000000;
    background-image: linear-gradient(140deg, #000000 0%, #3700ff 100%);
}

.color-btn{
    background-color: #EAB308;
    /*box-shadow: 0 0 8px #ffffff;*/
    border: solid 1px #ffc515;   
}

.icon::before {
    content: "";
    display: block;
    margin-bottom: 2.5rem;
    width: 60px;
    height: 4px;
    background-color: #3700ff;
}

.icon-two::before {
    content: "";
    display: block;
    margin-bottom: 2.5rem;
    width: 60px;
    height: 4px;
    background-color: #ffffff;
}

.icon-three::before {
    content: "";
    display: block;
    margin: 0px auto 3.5rem;
    margin-bottom: 2.5rem;
    width: 60px;
    height: 4px;
    background-color: #3700ff;
}

.icon-four::before {
    content: "";
    display: block;
    margin: 0px auto 3.5rem;
    margin-bottom: 2.5rem;
    width: 60px;
    height: 4px;
    background-color: #ffffff;
}

@keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  .animation {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.1em solid #fff; /* Crear el cursor */
    animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
  }
  
  

/*@keyframes typing {
    0% {
      width: 0;
    }
    60% {
      width: 100%;
    }
    80% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  .animation {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.1em solid #fff; 
    animation: 
      typing 8s steps(50) infinite, 
      blink 0.75s step-end infinite; 
  }*/