*{
    margin: 0;
    padding: 0;
}


.invertir-colores:hover img {
    filter: invert(1); /* Invertir el color del icono en el hover */
}

.slick-slider .slick-dots li.slick-active button::before {
    color: white;
}
  
.slick-slider .slick-dots li button::before {
    font-size: 15px;
    color: rgb(255, 255, 255);
}
  
